.fondoCursoBanner {
  background: #ff8c11;
  padding: 50px 0;
}

.titleCursos {
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: bold;
}

.categoria {
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: bold;
  color: #ff8c11;
  font-size: 16px;
}

.descripcion {
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: bold;
  color: #575757;
  font-size: 14px;
}

.star i {
  font-size: 18px;
  color: #FFF100;
}

.valor {
  font-weight: bold;
  font-size: 50px;
}

.ver-btn {
  background: #ff8c11;
  border-radius: 50px;
  border: 2px solid #00ECCF;
  color: #ffffff;
  font-size: 16px;
  padding: 7px 15px 7px 15px;
  transition: 0.5s;
}

.ver-btn:hover {
  background: #5BDB01;
  border-radius: 50px;
  border-color: 2px solid #5BDB01;
}

.descri {
  padding: 50px 0;
  font-size: 16px;
}

#contenedorVideo {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  display: block;
}

#contenedorVideo iframe,
#contenedorVideo object,
#contenedorVideo embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.blog_right_sidebar {
  border: 1px solid #eeeeee;
  background: #fafaff;
  padding: 0px 30px 0px 30px
}

.blog_right_sidebar .widget_title {
  font-size: 18px;
  line-height: 25px;
  background: #173f65;
  text-align: center;
  color: #fff;
  padding: 8px 0px;
  margin-bottom: 30px
}

.blog_right_sidebar .author_widget {
  text-align: center
}

.blog_right_sidebar .author_widget h4 {
  font-size: 18px;
  line-height: 20px;
  color: #3a414e;
  margin-bottom: 5px;
  margin-top: 30px
}

.blog_right_sidebar .author_widget p {
  margin-bottom: 0px
}

.blog_right_sidebar .author_widget img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.blog_info .post_tag {
  padding-bottom: 20px;
  font-family: 'Gloria Hallelujah', cursive;
}

.blog_info .post_tag a {
  color: #3a414e;
  font-size: 16px
}

.blog_info .post_tag a.active {
  color: #173f65;
}

.blog_info .post_tag a:hover {
  color: #ff8c11;
}