/*---------------------------------------
    LISTA ICONOS EN VER CURSO
  -----------------------------------------*/

.list-icon li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    line-height: 1.5;
}

.list-icon li i {
    position: absolute;
    left: 0;
    top: 4px;
}

.aprenderas-container,
.requisitos-container {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 25px;
}

.aprenderas-container h4,
.requisitos-container h4 {
    color: #343a40;
    margin-bottom: 15px;
}